# EMIS Data Analyst Project

In [1]:
import os
import pandas as pd

from data_extraction import DataExtractor as de

In [2]:
# Initialise instances
data_extractor = de()

# Cleaning of patient.csv

- registration_guid and patient_id could be reference columns for PK/FK

In [3]:
# Define path to clinical codes CSV file
patient_file_path = os.path.join(r'..\data', 'patient.csv')

# Extract clinical codes from CSV file
patient_df = data_extractor.extract_from_csv(patient_file_path)

In [4]:
display(patient_df)
print("\n\n")
display(patient_df.info())
dtype = patient_df.dtypes
print (dtype)

,age,postcode,patient_surname,patient_givenname,date_of_birth,date_of_death,registration_guid,patient_id,gender
0,0,HX2 8WG,Bibi,Maureen,2023-02-11 00:00:00,NaN,9A70C9CD-D0F7-43F3-A05C-34C8F192E00C,10457,Female
1,0,LS10 8MH,O'Brien,Karen,2022-11-08 00:00:00,NaN,57E3019C-25E6-4591-AA6D-3139AF37DC3F,11488,Female
2,0,WF17 2XU,Turner,Mark,2023-01-28 00:00:00,NaN,A1700F02-134E-42FF-B537-1B7DA00F8C25,9844,Male
3,0,WF13 3RJ,Law,Frederick,2022-12-05 00:00:00,NaN,CEDE39B9-9261-4B21-9E07-92D4308E87D5,9972,Male
4,0,LS99 9ZZ,Connor,Emerald,2022-11-17 00:00:00,NaN,9532DEBE-42CC-40E4-820A-55DF603E0D23,18955,Indeterminate
...,...,...,...,...,...,...,...,...,...
4538,0,LS99 9ZZ,Lyons,Ahmir,2023-01-08 00:00:00,NaN,61CE65F5-271B-4151-8700-70DE00CC0A9B,29589,Female
4539,0,LS99 9ZZ,Williamson,Cyrus,2023-02-09 00:00:00,NaN,4C16CFF4-520C-4B1C-8B03-9B214BDFAC76,19592,Female
4540,0,LS99 9ZZ,Healy,Kamari,2022-12-10 00:00:00,NaN,21107E5F-CE16-4669-9B6E-43671212E9D0,27505,Indeterminate
4541,0,LS99 9ZZ,Bolton,Zachariah,2022-11-23 00:00:00,NaN,9F8F0E53-7252-4998-A035-6809941C8A83,30629,Male
4542,0,LS99 9ZZ,Johnson,Adrianna,2022-12-05 00:00:00,NaN,F2E5C6F8-52B3-477B-83B2-955A9BB227A5,26947,Female

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4543 entries, 0 to 4542
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   age                4543 non-null   int64
 1   postcode           4438 non-null   object
 2   patient_surname    4543 non-null   object
 3   patient_givenname  4543 non-null   object
 4   date_of_birth      4543 non-null   object
 5   date_of_death      13 non-null     object
 6   registration_guid  4543 non-null   object
 7   patient_id         4543 non-null   int64
 8   gender             4543 non-null   object
dtypes: int64(2), object(7)
memory usage: 319.6+ KB

None

age                   int64
postcode             object
patient_surname      object
patient_givenname    object
date_of_birth        object
date_of_death        object
registration_guid    object
patient_id            int64
gender               object
dtype: object

In [10]:
print(patient_df['patient_id'].unique())
print(len(patient_df['patient_id'].unique()))

[10457 11488  9844 ... 27505 30629 26947]
4543

In [9]:
print(patient_df['registration_guid'].unique())
print(len(patient_df['registration_guid'].unique()))

['9A70C9CD-D0F7-43F3-A05C-34C8F192E00C'
 '57E3019C-25E6-4591-AA6D-3139AF37DC3F'
 'A1700F02-134E-42FF-B537-1B7DA00F8C25' ...
 '21107E5F-CE16-4669-9B6E-43671212E9D0'
 '9F8F0E53-7252-4998-A035-6809941C8A83'
 'F2E5C6F8-52B3-477B-83B2-955A9BB227A5']
4543

In [42]:
# Treat the column as string
combined_observation_df['comparator'] = combined_observation_df['comparator'].astype(str)

# Replace 'nan' strings with actual NaN values
combined_observation_df.loc[combined_observation_df['comparator'] == 'nan', 'comparator'] = pd.NA

# Convert the column to categorical type
combined_observation_df['comparator'] = combined_observation_df['comparator'].astype('category')

# Verify the changes
print(combined_observation_df['comparator'].unique(), "\n")
print(combined_observation_df['comparator'].dtype)

[NaN, '>', '<=', '<', '>=']
Categories (4, object): ['<', '<=', '>', '>=']

category

In [43]:
def clean_column_data(selected_table_df: pd.DataFrame, column_name: str) -> pd.DataFrame:

        # Treat the column as string
        selected_table_df[column_name] = selected_table_df[column_name].astype(str)

        # Replace 'nan' strings with actual NaN values
        selected_table_df.loc[selected_table_df[column_name] == 'nan', column_name] = pd.NA

        # Convert the column to categorical type
        selected_table_df[column_name] = selected_table_df[column_name].astype('category')

        return selected_table_df

In [44]:
combined_observation_df = clean_column_data(combined_observation_df, 'comparator')
display(combined_observation_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 275768 entries, 0 to 275767
Data columns (total 50 columns):
 #   Column                                    Non-Null Count   Dtype
---  ------                                    --------------   -----
 0   abnormal                                  275768 non-null  bool
 1   emis_code_id                              275768 non-null  int64
 2   comparator                                16 non-null      category
 3   confidential_flag                         275768 non-null  bool
 4   confidential_patient_flag                 275768 non-null  bool
 5   consultation_source_emis_code_id          113032 non-null  float64
 6   consultation_source_emis_original_term    113032 non-null  object
 7   document_guid                             14271 non-null   object
 8   dummy_patient_flag                        275768 non-null  bool
 9   effective_date                            275463 non-null  object
 10  effective_date_precision                  275768 non-null  object
 11  emis_enteredby_userinrole_guid            275768 non-null  object
 12  emis_episodicity                          275768 non-null  int64
 13  end_date                                  17073 non-null   object
 14  fhir_episodicity                          68342 non-null   object
 15  emis_observation_guid                     275768 non-null  object
 16  exa_observation_guid                      275768 non-null  object
 17  fhir_interpretation_code                  12079 non-null   object
 18  is_parent_flag                            25302 non-null   object
 19  non_regular_and_current_active_flag       275768 non-null  bool
 20  emis_observation_id                       275768 non-null  int64
 21  observation_type                          275768 non-null  object
 22  emis_observationtypeid                    275768 non-null  int64
 23  opt_out_93c1_flag                         275768 non-null  bool
 24  opt_out_9nd19nu09nu4_flag                 275768 non-null  bool
 25  opt_out_9nd19nu0_flag                     275768 non-null  bool
 26  opt_out_9nu0_flag                         275768 non-null  bool
 27  other_code                                9416 non-null    object
 28  other_code_system                         9416 non-null    object
 29  other_display                             9416 non-null    object
 30  range_lower                               50926 non-null   float64
 31  range_upper                               50928 non-null   float64
 32  readv2_code                               266352 non-null  object
 33  recorded_date                             275768 non-null  object
 34  registration_guid                         275768 non-null  object
 35  regular_and_current_active_flag           275768 non-null  bool
 36  regular_current_active_and_inactive_flag  275768 non-null  bool
 37  regular_patient_flag                      275768 non-null  bool
 38  emis_original_term                        275768 non-null  object
 39  sensitive_flag                            275768 non-null  bool
 40  sensitive_patient_flag                    275768 non-null  bool
 41  snomed_concept_id                         275768 non-null  int64
 42  snomed_description_id                     275768 non-null  int64
 43  emis_parent_observation_guid              81091 non-null   object
 44  exa_parent_observation_guid               81091 non-null   object
 45  uom                                       99632 non-null   object
 46  uom_ucum                                  40351 non-null   object
 47  user_selected                             0 non-null       float64
 48  numericvalue                              106001 non-null  float64
 49  value_pq_2                                0 non-null       float64
dtypes: bool(14), category(1), float64(6), int64(6), object(23)
memory usage: 77.6+ MB

None

# Cleaning clinincal_codes

In [45]:
# Define path to clinical codes CSV file
clinical_codes_file_path = os.path.join(r'..\data', 'clinical_codes.csv')

# Extract clinical codes from CSV file
clinical_codes_df = data_extractor.extract_from_csv(clinical_codes_file_path)

display(clinical_codes_df)

,refset_simple_id,parent_code_id,code_id,snomed_concept_id,emis_term
0,9.990129e+17,NaN,9315231000006113,1.067599e+16,Acute severe exacerbation of mild persistent a...
1,9.990129e+17,NaN,301451010,1.959490e+08,Chronic wheezy bronchitis
2,9.990116e+17,NaN,7627141000006111,7.080300e+08,Pulmonary emphysema co-occurrent with fibrosis...
3,9.990129e+17,NaN,13844351000006118,7.039540e+08,"Asthma caused by house dust mite, Dermatophago..."
4,9.990116e+17,NaN,506053014,8.440900e+07,Purulent chronic bronchitis
...,...,...,...,...,...
581,9.990116e+17,NaN,139979010,8.440900e+07,Fetid chronic bronchitis
582,9.990116e+17,NaN,3921361000006112,8.743300e+07,Emphysema of lung
583,NaN,1.223821e+15,9299341000033119,NaN,Olodaterol 2.5micrograms/dose solution for inh...
584,NaN,7.173210e+14,3164141000033119,NaN,Fluticasone propionate 250micrograms/dose / Sa...
585,NaN,5.912210e+14,9995641000033112,NaN,Aclidinium bromide 396micrograms/dose / Formot...

In [46]:
num = len(clinical_codes_df['code_id'].unique())
print(num)

579

In [47]:
num = len(clinical_codes_df['refset_simple_id'].unique())
print(num)

7

In [48]:
# Step 1: Identify duplicated code_id values
duplicated_code_ids = clinical_codes_df[clinical_codes_df.duplicated(subset='code_id', keep=False)]

# Step 2: Print all rows where code_id is duplicated
print(duplicated_code_ids)

     refset_simple_id  parent_code_id           code_id  snomed_concept_id  \
1        9.990129e+17             NaN         301451010       1.959490e+08
110      9.990129e+17             NaN   183191000006115       1.959490e+08
187      9.990116e+17             NaN  1948051000006112       1.069276e+16
196      9.990116e+17             NaN         301450011       1.959490e+08
245      9.990116e+17             NaN  9317341000006115       1.069276e+16
249      9.990116e+17             NaN   183191000006115       1.959490e+08
275      9.990116e+17             NaN         301451010       1.959490e+08
353      9.990129e+17             NaN  9317341000006115       1.069276e+16
365      9.990116e+17             NaN  9317331000006113       1.069276e+16
373      9.990129e+17             NaN  1948051000006112       1.069276e+16
395      9.990129e+17             NaN  7970171000006119       1.751000e+12
398      9.990129e+17             NaN         301450011       1.959490e+08
472      9.990116e+17             NaN  7970171000006119       1.751000e+12
487      9.990129e+17             NaN  9317331000006113       1.069276e+16

                                             emis_term
1                            Chronic wheezy bronchitis
110                        Recurrent wheezy bronchitis
187  Asthma-chronic obstructive pulmonary disease o...
196                       Chronic asthmatic bronchitis
245  ACOS - asthma-chronic obstructive pulmonary di...
249                        Recurrent wheezy bronchitis
275                          Chronic wheezy bronchitis
353  ACOS - asthma-chronic obstructive pulmonary di...
365                Asthma-COPD overlap syndrome (ACOS)
373  Asthma-chronic obstructive pulmonary disease o...
395  Acute exacerbation of chronic obstructive airw...
398                       Chronic asthmatic bronchitis
472  Acute exacerbation of chronic obstructive airw...
487                Asthma-COPD overlap syndrome (ACOS)

In [49]:
# Assuming df is your DataFrame
unique_rows1 = clinical_codes_df.shape[0]

print(f"Number of unique rows in the DataFrame: {unique_rows1}")

unique_rows2 = clinical_codes_df.drop_duplicates().shape[0]

print(f"Number of unique rows in the DataFrame: {unique_rows2}")

Number of unique rows in the DataFrame: 586
Number of unique rows in the DataFrame: 586

In [50]:
dups = clinical_codes_df.duplicated()
print(clinical_codes_df[dups])

Empty DataFrame
Columns: [refset_simple_id, parent_code_id, code_id, snomed_concept_id, emis_term]
Index: []